<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xasxt.hospital.app.dao.PatientDaoMapper">
	<insert id="savePatientInfo">
        insert into t_patient
        (pname,sex,age,tel,idcard,docid,did,
        flagnum,money,opername,opertime,remark,pnum)
        values(#{pname},#{sex},#{age},
        #{tel},#{idcard},#{docid},#{did},#{flagnum},
        #{money},#{opername},#{opertime},'无',#{pnum})
    </insert>
	
	<sql id="commsql">
        SELECT p.* ,d.docid,d.docname FROM t_patient p LEFT JOIN
        t_doctor d
        ON
        p.docid=d.docid
    </sql>
    
   <select id="findPatientWithPage"
        resultType="Patient">
        <include refid="commsql" />
        <where>
        <if test="pname!=null">
        pname like '%${pname}%'
        </if>
        AND p.flag='0'
        </where>
        limit #{page},#{rows}
    </select>
    
    <select id="getPatientCount" resultType="int">
        select count(pid)from
        t_patient
    </select>
    
    <update id="updatePatientInfo">
        update t_patient
        <set>
            <if test="pname!=null">
                pname=#{pname},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="pname !=null">
                pname=#{pname},
            </if>
            <if test="tel !=null">
                tel=#{tel},
            </if>
            <if test="idcard !=null">
                idcard=#{idcard},
            </if>
            <if test="docid !=null">
                docid=#{docid},
            </if>
            <if test="flagnum !=null">
                flagnum=#{flagnum},
            </if>
            <if test="money !=null">
                money=#{money},
            </if>
            <if test="money !=null">
                opername=#{opername},
            </if>
            <if test="opertime !=null">
                opertime=#{opertime},
            </if>
            <if test="pnum !=null">
                pnum=#{pnum},
            </if>
            <if test="did !=null">
                did=#{did},
            </if>
            <if test="flag !=null">
                flag=#{flag},
            </if>
            remark='无'
        </set>
        where
        pid=#{pid}
    </update>

    <update id="delPatientInfo">
        delete from t_patient where pid=#{pid}
    </update>

    <update id="delBatchPatientInfo">
        delete from t_patient where pid in
        <foreach item="item" index="index" collection="array" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </update>
    
     <select id="getPatientSubmitCount" resultType="int">
        select count(pid)from
        t_patient where flag=1
    </select>
    
    <select id="findPatientSubmitWithPage" resultType="Patient">
		SELECT p.* ,d.docid,d.docname,de.did,de.dname,c.result FROM
		t_patient p
		LEFT
		JOIN
		t_doctor d
		ON
		p.docid=d.docid
		left join t_dept de
		on
		p.did=de.did
		left join t_consultation c
		on c.patientid=p.pid
		<where>
		
			<if test="pname!=null">
				pname like '%${pname}%'
			</if>
		
	
			<if test="docname!=null">
			or	docname like '%${docname}%'
			</if>
	
		
			
			AND p.flag='1'
		</where>
		limit #{page},#{rows}
	</select>
	<insert id="saveConsultationInfo">
		insert into t_consultation
        (patientid,docid,result,consultationtime,remark,ishospital)
        values(#{patientid},#{docid},#{result},
        #{consultationtime},#{remark},#{ishospital})
	
	</insert>
	
	<insert id="savePatientDrugInfo">
		insert into
		t_drug_prescriptions(drugid,patientid,quantitys)values
		(#{drugid},#{patientid},#{quantitys})
	</insert>
	
	<select id="getDrugDetailedCount" resultType="int">
	 select count(drugid)from t_drug_prescriptions
	</select>
	
	<select id="findDrugDetailedWithPage" resultType="DrugPrescriptions">
	select * from t_drug_prescriptions dp 
	left join t_drug d 
	on dp.drugid=d.drugid
	left join t_patient p
		on dp.patientid= p.pid
		where p.pid=#{patientid}
		limit #{page},#{rows}
	</select>
	
	
</mapper>